use master
go
USE [Nhom9]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[GiaMua] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [nvarchar](100) NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[GhiChu] [ntext] NULL,
	[TrangThai] [int] NOT NULL,
	[HoTenNguoiNhan] [nvarchar](100) NOT NULL,
	[DiaChiNhan] [nvarchar](100) NOT NULL,
	[SoDienThoaiNhan] [char](11) NOT NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[MaKichCo] [int] IDENTITY(1,1) NOT NULL,
	[TenKichCo] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSP] [nvarchar](150) NOT NULL,
	[Gia] [money] NOT NULL,
	[MoTa] [ntext] NOT NULL,
	[ChatLieu] [nvarchar](50) NOT NULL,
	[HuongDan] [ntext] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [nvarchar](100) NOT NULL,
	[NgaySua] [datetime] NOT NULL,
	[NguoiSua] [nvarchar](100) NOT NULL,
	[MaMau] [char](10) NOT NULL,
	[HinhAnh] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamChiTiet](
	[IDCTSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaKichCo] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiDung](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [char](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanQuanTri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[LoaiTaiKhoan] [bit] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (1, N'Áo phông', CAST(N'2021-08-07T20:45:45.887' AS DateTime), N'Trần Trung Tín', CAST(N'2021-08-07T20:45:45.887' AS DateTime), N'Trần Trung Tín')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (2, N'Áo sơ mi', CAST(N'2021-08-07T20:45:55.990' AS DateTime), N'Trần Trung Tín', CAST(N'2021-08-07T20:45:55.990' AS DateTime), N'Trần Trung Tín')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDanhMuc], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (3, N'Quần jeans', CAST(N'2021-08-07T20:46:04.060' AS DateTime), N'Trần Trung Tín', CAST(N'2021-08-07T20:46:04.060' AS DateTime), N'Trần Trung Tín')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[KichCo] ON 

INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (1, N'S')
INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (2, N'M')
INSERT [dbo].[KichCo] ([MaKichCo], [TenKichCo]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[KichCo] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 


SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] ON 

INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (1, 1, 1, 0)
INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (2, 1, 2, 5)
INSERT [dbo].[SanPhamChiTiet] ([IDCTSP], [MaSP], [MaKichCo], [SoLuong]) VALUES (3, 1, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[SanPhamChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] ON 

INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (1, N'admin', N'admin', 1, N'Trần Trung Tín', 1)
INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (2, N'semiadmin', N'123456', 0, N'Nguyễn Văn A', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] OFF
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[DanhMuc] ADD UNIQUE NONCLUSTERED 
(
	[TenDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[TaiKhoanNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[TaiKhoanQuanTri] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[SanPhamChiTiet] ([IDCTSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([MaKichCo])
REFERENCES [dbo].[KichCo] ([MaKichCo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO



-- 1. Cập nhật bảng TaiKhoanNguoiDung để hỗ trợ hash password và chức năng quên mật khẩu
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[TaiKhoanNguoiDung]
ALTER COLUMN [MatKhau] varchar(255) NOT NULL;
GO

-- Thêm cột ResetPasswordToken và ResetTokenExpiry
ALTER TABLE [dbo].[TaiKhoanNguoiDung]
ADD [ResetPasswordToken] varchar(255) NULL,
    [ResetTokenExpiry] datetime NULL;
GO

-- 2. Cập nhật bảng TaiKhoanQuanTri (nếu cần hỗ trợ hash password dài)
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[TaiKhoanQuanTri]
ALTER COLUMN [MatKhau] varchar(255) NOT NULL;
GO

-- Nếu muốn mở rộng trường LoaiTaiKhoan (ví dụ: từ bit sang varchar), uncomment phần dưới:
/*
ALTER TABLE [dbo].[TaiKhoanQuanTri]
ALTER COLUMN [LoaiTaiKhoan] varchar(50) NOT NULL;
GO
*/

-- 3. Tạo bảng PhanHoiHoTro để lưu yêu cầu hỗ trợ của khách hàng
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PhanHoiHoTro](
    [ID] int IDENTITY(1,1) NOT NULL,
    [MaTK] int NULL,  -- Nếu khách hàng đã đăng nhập; có thể NULL nếu khách hàng chưa có tài khoản
    [Subject] nvarchar(150) NOT NULL,
    [Message] ntext NOT NULL,
    [NgayGui] datetime NOT NULL DEFAULT GETDATE(),
    [TrangThai] int NOT NULL DEFAULT 0, -- 0: Chưa xử lý, 1: Đang xử lý, 2: Đã xử lý
    [PhanHoi] ntext NULL,    -- Phản hồi từ nhân viên
    CONSTRAINT [PK_PhanHoiHoTro] PRIMARY KEY CLUSTERED ([ID] ASC)
) ON [PRIMARY]
GO

-- Nếu muốn thiết lập ràng buộc khóa ngoại với TaiKhoanNguoiDung (nếu MaTK không NULL)
ALTER TABLE [dbo].[PhanHoiHoTro] WITH CHECK ADD CONSTRAINT FK_PhanHoiHoTro_TaiKhoanNguoiDung
    FOREIGN KEY([MaTK]) REFERENCES [dbo].[TaiKhoanNguoiDung]([MaTK])
    ON UPDATE CASCADE
    ON DELETE SET NULL;
GO